.card-item {
  display: flex;
  justify-content: center;
}
.menu-title{
  text-align: center;
  
}
.teste{
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 360px) {
  .columns {
    max-width: 360px;
  }

  .card-item {
    margin-left: 5%; 
    
    padding: 1rem;
  }
}

@media (max-width: 768px) {
 
}
