.login {
  height: 100%;
}

.login-container {
  z-index: 1;
}

img.deliveryman-icon {
  width: auto;
  height: 180px;
}

.deliveryman {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}

.login-card {
  margin-top: 25%;
  width: 400px;
}

.waves {
  position: absolute;
  bottom: 0px;
}
