@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

html,
body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
}

.button.is-danger {
  background-color: #ea1d2c !important;
}

.button.is-danger.is-light {
  background-color: #f7acb7 !important;
}
