.card-item {
  display: flex;
  justify-content: center;
}

div.menu-container {
  height: 100%;
}

@media (max-width: 360px) {
  .columns {
    max-width: 360px;
  }

  .card-item {
    margin-left: 5%;
  }
}
